ModelosConfig/Connected Services/SVModel/Estabilidad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EstabilidadLib.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EstabilidadLib.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstabilidadDePozos.Parametros_Estabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstabilidadDePozos.Parametros_Estabilidad" nillable="true" type="tns:EstabilidadDePozos.Parametros_Estabilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstabilidadDePozos.Parametros_Estabilidad" nillable="true" type="tns:ArrayOfEstabilidadDePozos.Parametros_Estabilidad" />
  <xs:complexType name="EstabilidadDePozos.Parametros_Estabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaVal" type="xs:double" />
      <xs:element minOccurs="0" name="Dp" type="xs:double" />
      <xs:element minOccurs="0" name="Dpvalve" type="xs:double" />
      <xs:element minOccurs="0" name="Dvalve" type="xs:double" />
      <xs:element minOccurs="0" name="GOR" type="xs:double" />
      <xs:element minOccurs="0" name="GORFREE" type="xs:double" />
      <xs:element minOccurs="0" name="GOR_quicklook" type="xs:double" />
      <xs:element minOccurs="0" name="HTC" type="xs:double" />
      <xs:element minOccurs="0" name="Ind_Est" type="xs:int" />
      <xs:element minOccurs="0" name="PI" type="xs:double" />
      <xs:element minOccurs="0" name="Pti" type="xs:double" />
      <xs:element minOccurs="0" name="Ptr" type="xs:double" />
      <xs:element minOccurs="0" name="Ptrcalc" type="xs:double" />
      <xs:element minOccurs="0" name="Ptri" type="xs:double" />
      <xs:element minOccurs="0" name="Pwf_IPR" type="xs:double" />
      <xs:element minOccurs="0" name="Pwf_quicklook" type="xs:double" />
      <xs:element minOccurs="0" name="Pwh" type="xs:double" />
      <xs:element minOccurs="0" name="Pws" type="xs:double" />
      <xs:element minOccurs="0" name="Qcporcent" type="xs:double" />
      <xs:element minOccurs="0" name="Qg" type="xs:double" />
      <xs:element minOccurs="0" name="Qgcrit" type="xs:double" />
      <xs:element minOccurs="0" name="Qgi" type="xs:double" />
      <xs:element minOccurs="0" name="Ql" type="xs:double" />
      <xs:element minOccurs="0" name="TotalQgas" type="xs:double" />
      <xs:element minOccurs="0" name="Tvalv" type="xs:double" />
      <xs:element minOccurs="0" name="Twh" type="xs:double" />
      <xs:element minOccurs="0" name="Wc" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstabilidadDePozos.Parametros_Estabilidad" nillable="true" type="tns:EstabilidadDePozos.Parametros_Estabilidad" />
  <xs:complexType name="ArrayOfMapaEstabilidad.Parametros_Estabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MapaEstabilidad.Parametros_Estabilidad" nillable="true" type="tns:MapaEstabilidad.Parametros_Estabilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMapaEstabilidad.Parametros_Estabilidad" nillable="true" type="tns:ArrayOfMapaEstabilidad.Parametros_Estabilidad" />
  <xs:complexType name="MapaEstabilidad.Parametros_Estabilidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaVal" type="xs:double" />
      <xs:element minOccurs="0" name="Dp" type="xs:double" />
      <xs:element minOccurs="0" name="Dpvalve" type="xs:double" />
      <xs:element minOccurs="0" name="Dvalve" type="xs:double" />
      <xs:element minOccurs="0" name="GOR" type="xs:double" />
      <xs:element minOccurs="0" name="GORFREE" type="xs:double" />
      <xs:element minOccurs="0" name="GOR_quicklook" type="xs:double" />
      <xs:element minOccurs="0" name="HTC" type="xs:double" />
      <xs:element minOccurs="0" name="Ind_Est" type="xs:int" />
      <xs:element minOccurs="0" name="PI" type="xs:double" />
      <xs:element minOccurs="0" name="Pti" type="xs:double" />
      <xs:element minOccurs="0" name="Ptr" type="xs:double" />
      <xs:element minOccurs="0" name="Ptrcalc" type="xs:double" />
      <xs:element minOccurs="0" name="Ptri" type="xs:double" />
      <xs:element minOccurs="0" name="Pwf_IPR" type="xs:double" />
      <xs:element minOccurs="0" name="Pwf_quicklook" type="xs:double" />
      <xs:element minOccurs="0" name="Pwh" type="xs:double" />
      <xs:element minOccurs="0" name="Pws" type="xs:double" />
      <xs:element minOccurs="0" name="Qcporcent" type="xs:double" />
      <xs:element minOccurs="0" name="Qg" type="xs:double" />
      <xs:element minOccurs="0" name="Qgcrit" type="xs:double" />
      <xs:element minOccurs="0" name="Qgi" type="xs:double" />
      <xs:element minOccurs="0" name="Ql" type="xs:double" />
      <xs:element minOccurs="0" name="TotalQgas" type="xs:double" />
      <xs:element minOccurs="0" name="Tvalv" type="xs:double" />
      <xs:element minOccurs="0" name="Twh" type="xs:double" />
      <xs:element minOccurs="0" name="Wc" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapaEstabilidad.Parametros_Estabilidad" nillable="true" type="tns:MapaEstabilidad.Parametros_Estabilidad" />
</xs:schema>