ModelosConfig/Connected Services/SVModel/Estabilidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Estabilidad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Estabilidad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Estabilidad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Estabilidad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EstabilidadLib.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstabilidad_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Recomendacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Recomendacion" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Recomendacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecomendacionResponse" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Pozo_InputMessage">
    <wsdl:part name="parameters" element="tns:Pozo" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Pozo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PozoResponse" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Mapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Mapa" />
  </wsdl:message>
  <wsdl:message name="IEstabilidad_Mapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:MapaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstabilidad">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstabilidad/DoWork" message="tns:IEstabilidad_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstabilidad/DoWorkResponse" message="tns:IEstabilidad_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recomendacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstabilidad/Recomendacion" message="tns:IEstabilidad_Recomendacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstabilidad/RecomendacionResponse" message="tns:IEstabilidad_Recomendacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pozo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstabilidad/Pozo" message="tns:IEstabilidad_Pozo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstabilidad/PozoResponse" message="tns:IEstabilidad_Pozo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mapa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstabilidad/Mapa" message="tns:IEstabilidad_Mapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstabilidad/MapaResponse" message="tns:IEstabilidad_Mapa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstabilidad" type="tns:IEstabilidad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEstabilidad/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recomendacion">
      <soap:operation soapAction="http://tempuri.org/IEstabilidad/Recomendacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pozo">
      <soap:operation soapAction="http://tempuri.org/IEstabilidad/Pozo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mapa">
      <soap:operation soapAction="http://tempuri.org/IEstabilidad/Mapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Estabilidad">
    <wsdl:port name="BasicHttpBinding_IEstabilidad" binding="tns:BasicHttpBinding_IEstabilidad">
      <soap:address location="http://vwvheappd013.pemex.pmx.com/Modelo/Estabilidad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>